/*  your css code here. If applicable */
th, td {
            border: 2px solid #ddd;
            padding: 10px;
            border-radius: 8px;
        }
#4{
	background-color:gray;
}
#2{
	background-color:gray;
}